{% extends 'base_email.html' %}

{% block title %} Enviar correo {% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2 class="mt-2">ENVIAR CORREO</h2><hr>
        <h4 class="mt-2">Lista de contactos:</h4>

        <ul class="lista-contactos">
        {% for item in data %}
            <li>{{ item.correo }}</li>
        {% endfor %}
        </ul>

        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
        </div>
    </div>
</div>
{% endblock %}