{% extends 'base_email.html' %}

{% block title %} Enviar correo {% endblock %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token() }}
    <div class="row">
        <div class="col-sm-12">
            <h2 class="mt-2">ENVIAR CORREO</h2>
            <ul class="lista-contactos">
                {% for item in data %}
                    <li>{{ item.correo }}</li>
                {% endfor %}
            </ul>
            <hr>
    
            <div class="row">
                <div class="col-sm-8">
                    <div class="mb-2 mt-2">
                        <b>{{ form.title.label() }}</b> <br>
                        {{ form.title(class="form-control") }}
                    </div>
                    <div>
                        <b>{{ form.body.label() }}</b> <br>
                        {{ form.body(class="mensaje") }}
                        {{ form.submit(class="btn btn-sample w-100 mt-2") }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{{ ckeditor.load() }}
{{ ckeditor.config(name='body') }}
{% endblock %}