{% extends 'base_email.html' %}

{% block title %} Actualizar sub-grupo {% endblock %}

{% block content %} 
<h2 class="mt-2">EDITAR SUB GRUPO</h2><hr>

<div class="row">
    <div class="col-sm">
        <div class="card p-4 shadow-lg mt-2 animate__animated animate__fadeInDown">
            <form action="{{ url_for('subgroups.update_subgroups', id=data.id) }}" method="post">
                <div class="row">
                    <div class="col">
                        <label for="">Nombre Del SubGrupo </label>
                        <input type="text" name="nombre" value="{{ data.nombre }}" class="form-control">
                        <label for="">Grupo </label>
                        <select name="groups" id="" class="form-control" required>
                            {% for groups in groups_list %}
                            <option name="groups" value="{{ groups.id }}">{{ groups.nombre }}</option>
                            {% endfor %} 
                        </select><br>
                        <button type="submit" class="form-control btn btn-sample"> Guardar </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
</div>
{% endblock %}