@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&family=Nunito:wght@300;400;500;600;700&display=swap');
*{
  font-family: 'Nunito', sans-serif;
}

hr{
  padding: 0;
  margin: 0 0 0 0;
}

td:hover{
  background-color: rgba(145, 145, 145, 0.199);
}

.base-login{
  background-color: rgba(131, 131, 131, 0.315);
}

.navbar{
  background: rgb(27,92,189);
  background: -moz-linear-gradient(141deg, rgba(27,92,189,1) 62%, rgba(27,161,189,1) 100%);
  background: -webkit-linear-gradient(141deg, rgba(27,92,189,1) 62%, rgba(27,161,189,1) 100%);
  background: linear-gradient(141deg, rgba(27,92,189,1) 62%, rgba(27,161,189,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b5cbd",endColorstr="#1ba1bd",GradientType=1);
}

.toggle-title{
  display: flex;
}

.modal{
  display: none;
  background-color: #fff;
  padding: 15px 30px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  left: 0;
  right: 0;
  width: 70vw;
  height: 70vh;
  z-index: 9999999;
}

.leave > a{
  color: red;
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
}
.leave{
  right: 30px;
  top: 20px;
  font-size: 20px;
  position: absolute;
}

.background{
  display: none;
  background-color: rgba(41, 41, 41, 0.199);
  height: 100vh;
  width: 100vh;
  padding: 0 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.btn-sample {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #1B5CBD;
	*background-color: #1B5CBD;
	background-image: -moz-linear-gradient(top, #4C6CE8, #1B5CBD);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4C6CE8), to(#1B5CBD));
	background-image: -webkit-linear-gradient(top, #4C6CE8, #1B5CBD);
	background-image: -o-linear-gradient(top, #4C6CE8, #1B5CBD);
	background-image: linear-gradient(to bottom, #4C6CE8, #1B5CBD);
	background-repeat: repeat-x;
	border-color: #1B5CBD;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C6CE8', endColorstr='#1B5CBD', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

@media only screen and (max-width: 768px) {
  .modal{
    width: 90vw;
  }
}