{% extends 'base_email.html' %}

{% block title %} Agregar sub-grupos {% endblock %}

{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col">

        <form action="{{ url_for('subgroups.add_subgroups') }}" method="post">
 
            {{ form.hidden_tag() }}
            {{ form.grupo.label(class='form-label') }}
            {{ form.grupo(class='form-select') }} 

            {{ form.hidden_tag() }}
            {{ form.nombre.label(class='form-label') }}
            {{ form.nombre(class='form-control') }}<br>

            {{ form.submit(class='form-control btn btn-sample') }}

        </form>

    </div>
    <div class="col"></div>
</div>
{% endblock %}