{% extends 'base_email.html' %}

{% block title %}Actualizar Tipo De Grupo{% endblock %}

{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col">
        <form action="{{ url_for('groupstypes.update_groupstypes', id=data.id) }}" method="POST">
            <label for="">Cambio de Nombre</label><br>
            <input type="text" name="nombre" class='form-control' value="{{ data.nombre }}"><br>
            <button type="submit" class='form-control btn btn-success'>Enviar</button>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}