{% extends 'base_email.html' %}

{% block title %} Actualiza mascota {% endblock %}

{% block content %} 
<div class="container">
    <h1 class="mt-5 mb-4">Editar grupos </h1>
<form action="{{ url_for('groups.update_groups', id=groupstype.id) }}" method="post">
    <div class="row">
        <div class="col">
         <!--  <label for="">Nombre mascota: </label>
            <input type="text" name="nom" value="{{ mascota.nombre }}" class="form-control">
            <label for="">Especie:</label>
            <input type="text" name="esp" value="{{ mascota.especie }}" class="form-control">
            <label for="">Animal:</label>
            <input type="text" name="ani" value="{{ mascota.animal }}" class="form-control">
        </div>--> 
        <div class="col">
            <label for="">nombre </label>
            <input type="text" name="nombre" value="{{ groups.id }}" class="form-control">
            <label for="">tipo de grupo: </label>
            <input type="text" name="tipo" value="{{ groups.id }}" class="form-control">
            <label for="">dependencia </label>
            <input type="text" name="dependencia" value="{{ groups.id }}" class="form-control">
            <label for="">N</label>
            <select name="ido" id="" class="form-control" required>
                <option value="" autofocus></option>
                {% for groupstype in groupstype_list %}
                <option name="id_type" value="{{ groupstype.id }}">{{ groupstype.id }}</option> <!--owner.id-->
                {% endfor %}
            </select><br>
            <button type="submit" class="form-control btn btn-success">Guardar </button>
        </div>
    </div>
</form>
</div>
{% endblock %}