{% extends 'base_email.html' %}

{% block title %} Actualiza mascota {% endblock %}

{% block content %} 
<div class="container">
    <h1 class="mt-5 mb-4">Editar grupos </h1>
<form action="{{ url_for('groups.update_subgroups', id=data.id) }}" method="post">
    <div class="row">
        <div class="col">
            <label for="">nombre </label>
            <input type="text" name="nombre" value="{{ data.nombre }}" class="form-control">
            <label for="">grupo </label>
            <select name="grupo" id="" class="form-control" required>
                {% for groups in groups_list %}
                <option name="grupo" value="{{ groups.id }}">{{ groups.nombre }}</option> <!--groups.id-->
                {% endfor %}
            </select>
            <button type="submit" class="form-control btn btn-success">Guardar </button>
        </div>
    </div>
</form>
</div>
{% endblock %}