{% extends 'base_email.html' %}


{% block title %} Ver tipos de grupos {% endblock %}

{% block content %}
<div class="row">
    <div class="col mt-3"><h4>LISTA DE SUB-GRUPOS</h4></div>
    <div class="col mt-3"><span class="float-end"><b>Añadir sub-grupos: </b><a href="{{ url_for('subgroups.add_subgroups') }}" class="btn btn-light"><i class="bi bi-plus-lg"></i></a></span></div>
</div><hr>

<div class="card p-4 shadow-lg mt-2 animate__animated animate__fadeInDown table-responsive">
    <table class="table">
        <thead>
            <th>GRUPO</th>
            <th>SUB-GRUPO</th>
            <th class="text-end">OPCIONES</th>
        </thead>
        {% for subgroups, groups in data %}
        <tbody>
            <td>{{ groups.nombre }}</td>
            <td>{{ subgroups.nombre }}</td>
            <td class="text-end">
                <a href="{{ url_for('subgroups.update_subgroups', id=subgroups.id)}}"><button type="submit" class="btn btn-light"><i class="bi bi-pencil-fill"></i></button></a>
                <a href=""><button type="submit" class="btn btn-light"><i class="bi bi-trash3-fill"></i></button></a>
            </td>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}