{% extends 'base_email.html' %}


{% block title %} Ver Grupos {% endblock %}

{% block content %}
<!-- Titulo -->
<div class="row">
  <div class="col mt-3"><h4>GRUPOS REGISTRADOS</h4></div>
  <div class="col mt-3"><span class="float-end"><b>Añadir grupo: </b><a href="{{ url_for('groups.add_groups') }}" class="btn btn-light"><i class="bi bi-plus-lg"></i></a></span></div>
</div><hr>

<div id="background" class="background animate__animated animate__fadeIn"></div>

<div class="card p-4 shadow-lg mt-2 animate__animated animate__fadeInDown">
  <!-- Tabla -->
  <div class="table-responsive">
    <table id="table" class="table table-stripped w-100">
      <thead>
          <th class="col-2">TIPO DE GRUPO</th>
          <th>NOMBRE DEL GRUPO</th>
          <th>DEPENDENCIA</th>
          <th class="col-2 text-end">OPCIONES</th>
      </thead>
      {% for groups, groupstypes in data.items %}
      <tbody>
        
          <tr>
              <td>{{ groupstypes.nombre }}</td>
              <td>{{ groups.nombre }}</td>
              <td>{{ groups.dependencia }}</td>
              <td class="text-end">
                  <a href="{{ url_for('groups.update_groups', id=groups.id)}}"><button class="btn btn-light"><i class="bi bi-pencil-fill"></i></button></a>
                  <a href="{{ url_for('groups.delete_groups', id=groups.id)}}"><button type="submit" class="btn btn-light"><i class="bi bi-trash3-fill"></i></button></a>
              </td>
          </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
</div>





<nav aria-label="...">
  <ul class="pagination">
      {% for page in data.iter_pages() %}
          {% if page %}
              <li class="page-item">
              <a href="{{ url_for('groups.view_groups', num_page=page) }}"
              class="page-link" tabindex="-1">{{ page }}</a>
              </li>
          {% else %}
              >>>
          {% endif %}
      {% endfor %}
  </ul>
</nav>


{% endblock %}