{% extends 'base_email.html' %}

{% block title %} Correo simple {% endblock %}

{% block content %}
<h2 class="mt-2">ENVIAR CORREO SIMPLE</h2><hr>

<div class="row">
    <div class="col-sm">
        <div class="card p-4 shadow-lg mt-2 animate__animated animate__fadeInDown">
            <h5 class="">SELECCIONE UN GRUPO</h5><hr>
            <ul class="lista">
                {% for groups, groupstypes in data %}
                <li><a href="{{ groups.id }}">{{ groups.nombre }}</a></li>
                {% endfor %} 
            </ul>
        </div>   
    </div>
    <div class="col-sm">
        <div class="card p-4 shadow-lg mt-2 animate__animated animate__fadeInDown">
            <h5 class="">SUBGRUPOS</h5><hr>

        </div> 
    </div>
    <div class="col-sm">
        <div class="card p-4 shadow-lg mt-2 animate__animated animate__fadeInDown">
            <h5 class="">GRUPOS DE DESTINO</h5><hr>

        </div> 
    </div>
</div>
{% endblock %}