{% extends 'base_email.html' %}

{% block title %} Correo simple {% endblock %}

{% block content %}
<h2 class="mt-2">ENVIAR CORREO SIMPLE</h2><hr>

<div class="row">
    <div class="col-sm">
        <div class="card p-4 shadow-lg mt-2 animate__animated animate__fadeInDown">
            <h5 class="">SELECCIONE UN GRUPO</h5><hr>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                {% for groups, groupstypes in data %}
                <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#id--{{ groups.id }}" aria-expanded="false" aria-controls="collapseOne">
                    {{ groups.nombre }}
                </button>
                </h2>
                <div id="id--{{ groups.id }}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        
                    </div>
                </div>
                {% endfor %}  
                </div>
            </div>  
        </div>   
    </div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
</div>

<style>
    .lista{
        padding: 0;
        list-style: none;
    }
    .lista li{
        padding: 10px;
        border-bottom: 1px solid rgb(180, 180, 180);
    }
    .lista li a{
        text-decoration: none; 
        color: #000;
        padding: 0 0 0 10px;
    } .lista li:hover{
        background-color: rgba(77, 139, 255, 0.418)
    }

    .accordion{
        max-height: 300px;
        overflow-y: scroll;
    }
</style>
{% endblock %}