{% extends 'base_email.html' %}


{% block title %} Ver Contactos {% endblock %}

{% block content %}
<div class="row">
    <div class="col mt-3"><h4>LISTA DE CONTACTOS</h4></div>
    <div class="col mt-3"><span class="float-end"><b>Añadir contactos: </b><a href="{{ url_for('email.add_contactos')}}" class="btn btn-light"><i class="bi bi-plus-lg"></i></a></span></div>
</div><hr>

<div class="card p-4 shadow-lg mt-2 animate__animated animate__fadeInDown">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>GRUPO</th>
                <th>NOMBRE</th>
                <th>DIRECCION</th>
                <th>TELEFONO</th>
                <th>CORREO</th>
                <th>EXTENSION</th>
                <th>CARGO</th>
                <th class="text-end">OPCIONES</th>
            </thead>
            {% for contactos, groups  in data.items %}
            <tbody>
                <td>{{ groups.nombre }}</td>
                <td>{{ contactos.nombre }}</td>
                <td>{{ contactos.direccion }}</td>
                <td>{{ contactos.telefono }}</td>
                <td>{{ contactos.correo }}</td>
                <td>{{ contactos.extension }}</td>
                <td>{{ contactos.cargo }}</td>
                <td class="text-end">
                    <a href="{{ url_for('email.update_contactos', id=contactos.id)}}"><button type="submit" class="btn btn-light"><i class="bi bi-pencil-fill"></i></button></a>
                    <a href="{{ url_for('email.delete_contactos', id=contactos.id)}}"><button type="submit" class="btn btn-light"><i class="bi bi-trash3-fill"></i></button></a>
                </td>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>


<nav aria-label="...">
    <ul class="pagination">
        {% for page in data.iter_pages() %}
            {% if page %}
                <li class="page-item">
                <a href="{{ url_for('email.view_contactos', num_page=page) }}"
                class="page-link" tabindex="-1">{{ page }}</a>
                </li>
            {% else %}
                >>>
            {% endif %}
        {% endfor %}
    </ul>
</nav>

{% endblock %}