{% extends 'base_email.html' %}


{% block title %} Ver Contactos {% endblock %}

{% block content %}

<table class="table">
    <thead>
        <th>NOMBRE</th>
        <th>DIRECCION</th>
        <th>TELEFONO</th>
        <th>CORREO</th>
        <th>EMPRESA</th>
        <th>OPCIONES</th>
    </thead>
    {% for item in data %}
    <tbody>
        <td>{{ item.nombre }}</td>
        <td>{{ item.direccion }}</td>
        <td>{{ item.telefono }}</td>
        <td>{{ item.correo }}</td>
        <td>{{ item.empresa }}</td>
        <td>
            <a href=""><button type="submit" class="btn btn-danger">Borrar</button></a>
            <a href=""><button type="submit" class="btn btn-success">Editar</button></a>
        </td>
    {% endfor %}
    </tbody>

</table>

{% endblock %}